// .featured{
//     height: 600px;
//     display: flex;
//     justify-content: center;
//     background-color: white;
//     color: black;

//     .container{
//         width: 1400px;
//         display: flex;
//         align-items: center;

//         .left{
//             display: flex;
//             flex-direction: column;
//             gap: 30px;

//             h1{
//                 font-size: 50px;
//                 // font-family: ;
//             }

//             .search{
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 background-color: black;
//                 border-radius: 5px;
//                 .searchInput{
//                     display: flex;
//                     align-items: center;
//                     gap: 10px;
//                     width: 600px;
//                     margin-right:13rem;
//                     // border: none;
//                     // border-radius: 20px;
//                     // padding: 10px;
//                     // font-size: 20px;

//                     img{
//                         width: 20px;
//                         height: 20px;
//                         margin: 10px;
//                         // padding-left: 35rem;
//                     }
//                     input{
//                         border: none;
//                         outline: none;
//                         background-color: transparent;
//                         color: white;
//                         width: 100%;
//                     }
//                 }

//                 button{
//                     // margin-left: 10rem;
//                     // padding-left: 10rem;
//                     width: 120px;
//                     height: 50px;
//                     border: none;
//                     background-color: #fcb919;
//                     // border-radius: 5px;
//                     border-top-right-radius: 5px;
//                     border-bottom-right-radius: 5px;
//                     color: white;
//                     cursor: pointer;
//                 }

//                 .popular{
//                     display: flex;
//                     align-items: center;
//                     gap: 10px;
//                     span{}
//                     button{
//                         color: white;
//                         background-color: transparent;
//                         border: 1px solid white;
//                         padding: 5px 10px;
//                         border-radius: 20px;
//                         font-size: 14px;
//                     }
//                 }
//             }
            
//         }

//         .right{}
//     }
// }


.featured {
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
  
    .container {
      width: 1400px;
      display: flex;
      align-items: center;
  
      .left {
        display: flex;
        flex-direction: column;
        gap: 30px;
  
        h1 {
          font-size: 50px;
  
          span {
            font-style: italic;
            font-weight: 300;
          }
        }
  
        .search {
          // background-color: black;
          background-color: rgb(25, 24, 24);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
            
          .searchInput {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 400px;
            margin-right: 17rem;
            img {
              width: 20px;
              height: 20px;
              margin: 10px;
            }
  
            input {
              border: none;
              outline: none;
              background-color: transparent;
              color: white;
              width: 100%;
  
              &::placeholder {
                color: gray;
              }
            }
          }
  
          button {
            font-size: 14px;
            width: 120px;
            height: 50px;
            border: none;
            background-color: #fbc919;
            color: white;
            align-self: flex-end;
            cursor: pointer;
          }
        }
  
        .popular {
          display: flex;
          align-items: center;
          gap: 10px;
  
          span {
            width: max-content;
          }
  
          button {
            width: max-content;
            color: black;
            border: 1px solid black;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: transparent;
            font-size: 14px;
          }
        }
      }
  
      .right {
        height: 100%;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  